@font-face {
  font-family: "norse-bold";
  src: url(./assets/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
}

.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  background-color: white;
}

.background {
  background: url(./assets/photo-1585202900225-6d3ac20a6962.avif);
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;

  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px black solid;
  border-right: none;
}

.background-description {
  margin-top: auto;
  margin-bottom: 0;
  color: white;

  font-size: max(12px, 100%);
}

a {
  color: inherit;
  text-decoration: inherit;
}
