* {
  box-sizing: border-box;
}

.content {
  width: 100vw;
  height: 100vh;
}

.background {
  background: url(./assets/photo-1585202900225-6d3ac20a6962.avif);
  background-position: center;

  background-repeat: no-repeat;
  background-size: auto;
  width: 40vw;
}
